@let catalog = catalogService.catalog();
<div class="catalog-container">
  @for(exam of catalog?.exams; track exam.id){
  <div class="exam-block">
    <button class="exam-button" type="button" (click)="toggleExam(exam.id)">
      <span>{{ exam.title }}</span>
      <span>{{ openExamId === exam.id ? '▲' : '▼'}}</span>
    </button>
    @if (openExamId === exam.id){
    <div class="topic-list">
      @for (topic of exam.topics; track topic.id){
      <div class="topic-row">
        <span>{{ topic.title }}</span>
        <div class="topic-actions">
          <button
            class="btn btn-sm text-white fw-bold"
            style="background-color: #607d9c"
            [routerLink]="['/question-details', exam.id, topic.id]"
          >
            Details
          </button>
          <button
            class="btn btn-sm text-white fw-bold"
            style="background-color: #607d9c"
            routerLink="/question-page"
          >
            Questions
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>
  }
</div>
